@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* layout */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.flex {
  display: flex;
  gap: 20px;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background: #0f172a;
  border-bottom: 1px solid #1f2937;
}

.logo span {
  color: #38bdf8;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #e5e7eb;
  transition: 0.3s;
}

.nav a:hover {
  color: #38bdf8;
}

/* hero */
.hero {
  padding: 100px 0;
}

.hero h2 {
  font-size: 42px;
}

.hero p {
  margin: 10px 0 20px;
  color: #94a3b8;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* sections */
.section {
  padding: 80px 0;
}

.dark {
  background: #111827;
}

/* about */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.avatar {
  width: 250px;
  border-radius: 20px;
}

/* work */
.logos img {
  width: 80px;
  opacity: 0.8;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

/* footer */
.footer {
  padding: 20px;
  border-top: 1px solid #1f2937;
  color: #94a3b8;
}